<% extends 'layouts/main.njk' %> <% block app %>

<div class="container mx-auto">
    <div class="max-w-6xl mx-auto px-6 xl:px-0">
        <section class="py-8 mb-10 lg:mb-30">
            <div class="prose">
                <h1 class="text-4xl">About Cog</h1>
                <p>
                    Cog is a lightweight, yet powerful reactive UI library for
                    building dynamic web applications. It is designed with
                    simplicity and ease of use in mind, making it an excellent
                    choice for beginners and seasoned developers alike.
                </p>

                <p>
                    With Cog, you can create reactive user interfaces using
                    plain HTML and vanilla JavaScript, without the need for any
                    additional dependencies. This makes your projects easier to
                    maintain and less prone to issues related to dependency
                    management.
                </p>

                <p>
                    Despite its simplicity, Cog offers a robust set of features
                    that allow you to build complex applications. It provides a
                    reactive programming model that automatically updates the UI
                    when your data changes, saving you from manually
                    manipulating the DOM and keeping track of state changes.
                </p>

                <p>
                    Whether you're building a small personal project or a
                    large-scale web application, Cog provides the tools you need
                    to create interactive, data-driven interfaces with ease.
                </p>
                <h2 class="text-3xl">Built for learning</h2>
                <p>
                    Cog's an excellent tool for learning because it combines the
                    benefits of both imperative and declarative programming
                    styles.
                </p>
                <p>
                    By combining these two styles, Cog allows you to write
                    JavaScript that directly manipulates the state of your
                    application (imperative), and HTML that automatically
                    updates to reflect the current state of the application
                    (declarative). This combination makes your code easier to
                    understand and reason about.
                </p>
                <p>
                    Furthermore, Cog's simplicity and lack of dependencies make
                    it a great stepping stone to more complex libraries and
                    frameworks. It allows you to focus on learning the core
                    concepts of reactive programming without getting overwhelmed
                    by additional dependencies or complex tooling. All you need
                    is vanilla JavaScript.
                </p>
                <p>In summary, Cog is a great tool for learning because it:</p>
                <ul>
                    <li>
                        Combines the benefits of both imperative and declarative
                        programming styles.
                    </li>
                    <li>
                        Provides a simple, intuitive API with zero dependencies.
                    </li>
                    <li>
                        Allows you to focus on learning the core concepts of
                        reactive programming.
                    </li>
                    <li>
                        Serves as a stepping stone to more complex libraries and
                        frameworks.
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>

<% endblock %> <% block script %>
<script type="module" src="/src/scripts/about.ts"></script>
<% endblock %>
