<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cog - Reactive Expressions</title>
        <meta
            name="description"
            content="A simple, reactive expression library with zero dependencies."
        />
        <!-- Facebook Open Graph meta tags -->
        <meta property="og:title" content="Cog - Reactive Expressions" />
        <meta
            property="og:description"
            content="A simple, reactive expression library with zero dependencies."
        />
        <meta
            property="og:image"
            content="https://repository-images.githubusercontent.com/719662730/ebf0fa07-f839-4d9b-888d-9a7011860ae8"
        />
        <meta property="og:url" content="https://cogjs.org" />
        <!-- Twitter Card meta tags -->
        <meta name="twitter:title" content="Cog - Reactive Expressions" />
        <meta
            name="twitter:description"
            content="A simple, reactive expression library with zero dependencies."
        />
        <meta
            name="twitter:image"
            content="https://repository-images.githubusercontent.com/719662730/ebf0fa07-f839-4d9b-888d-9a7011860ae8"
        />
        <meta name="twitter:card" content="summary_large_image" />
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚙️</text></svg>"
        />
        <link rel="stylesheet" href="/src/styles/main.scss" />
    </head>
    <body>
        <div id="app">
            <% include 'partials/navbar.njk' %> <% block app %><% endblock %> <%
            include 'partials/footer.njk' %>
        </div>
        <% block script %><% endblock %>
        <script type="module" src="/src/scripts/main.ts"></script>
    </body>
</html>
